<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sy007.calendar.simple">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.sy007.calendar.simple.single.SingleHorizontalActivity"
            android:exported="false" />
        <activity
            android:name="com.sy007.calendar.simple.multiple.MultipleSelectActivity"
            android:exported="false" />
        <activity
            android:name="com.sy007.calendar.simple.range.RangeSelectActivity"
            android:exported="false" />
        <activity
            android:name="com.sy007.calendar.simple.single.SingleVerticalSelectActivity"
            android:exported="false" />
        <activity
            android:name="com.sy007.calendar.simple.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>